//Kolory
$brand: rgba(232, 111, 84, 1);
$brand-opaque: rgba(232, 111, 84, 0.4);
$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$vaild: rgba(60, 188, 129, 1);
$invalid: rgba(231, 74, 59, 1);
$hover: rgba(17, 17, 17, 0.7);
$input: rgba(215, 215, 215, 1);

//Czcionki
$small: 14px;
$medium: 18px;
$large: 24px;

//Mixiny

@mixin phone {
  @media screen and (min-width: 480px) {
    @content;
  }
}
@mixin phone-up {
  @media screen and (min-width: 480px) {
    @content;
  }
}
@mixin phone-only {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    @content;
  }
}
@mixin tablet-up {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin tablet-down {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin tablet-only {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
@mixin button-l {
  width: 280px;
  height: 64px;
  border-radius: 38px;
  background-color: $brand;
}
@mixin button-m {
  width: 208px;
  height: 44px;
  border-radius: 38px;
  background-color: $brand;
}
@mixin button-s {
  width: 170px;
  height: 40px;
  border-radius: 38px;
  background-color: $brand;
}
