/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './variables';
@import './partials/header';
@import './partials/hero';
@import './partials/about';
@import './partials/delivery';
@import './partials/store';
@import './partials/blog';
@import './partials/footer';

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

footer {
  font-family: 'Inter', sans-serif;
}
.container {
  @include tablet-down {
    margin: 60px 16px;
  }
  @include tablet-up {
    margin: 100px auto;
    padding: 0 24px;
    max-width: 1280px;
  }
}
a:hover,
a:focus,
button:hover,
button:focus {
  color: $hover;
  transition: $transition;
}
