<body>
  <section class="about">
    <div>
      <h2 class="about__header">ABOUT</h2>

      <p class="about__text">
        We are a minimalistic flower studio. We love people and flowers. Therefore, every day we
        give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we
        create is unique as you are.
      </p>
    </div>
    <div class="about__piture">
      <img src="/src/images/about-images/image_about-mobile.jpg" alt="pink flower" />
    </div>
  </section>
</body>
