<section class="about container">
  <h2 class="about__header">
    ABOUT
    <hr class="line" />
  </h2>

  <ul class="about-list">
    <li class="about-list__item">
      <p class="about__text">
        We are a minimalistic flower studio. We love people and flowers. Therefore, every day we
        give people the beauty and joy creating stylish and modern masterpieces. Every bouquet we
        create is unique as you are.
      </p>
    </li>

    <li class="about-list__item">
      <picture>
        <img
          class="about-picture"
          src="./images/about/image_about-mobile.jpg"
          srcset="
            ./images/about/image_about-mobile.jpg      320w,
            ./images/about/image_about@2x-mobile.jpg   640w,
            ./images/about/image_about-tablet.jpg      768w,
            ./images/about/image_about@2x-tablet.jpg  1536w,
            ./images/about/image_about-desktop.jpg    1280w,
            ./images/about/image_about@2x-desktop.jpg 2560w
          "
          sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, 320px"
          alt="pink flowers"
        />
      </picture>
    </li>
  </ul>
</section>
