<section id="blog">
  <div class="blog">
    <h2 class="blog__header">
      BLOG
      <hr class="line" />
    </h2>
    <div class="blog__box">
      <ul class="blog__gallery">
        <li>
          <picture>
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="./images/blog/blog-mobile.jpg"
              srcset="./images/blog/blog-mobile.jpg 1x, ./images/blog/blog-mobile@2x.jpg 2x"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="./images/blog/blog-tablet.jpg"
              srcset="./images/blog/blog-tablet.jpg 1x, ./images/blog/blog-tablet@2x.jpg 2x"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/blog/blog-desktop.jpg"
              srcset="./images/blog/blog-desktop.jpg 1x, ./images/blog/blog-desktop@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="./images/blog/blog-mobile.jpg" alt="John Doe" />
          </picture>
        </li>
        <li>
          <picture>
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="./images/blog/blog3-mobile.jpg"
              srcset="./images/blog/blog3-mobile.jpg 1x, ./images/blog/blog3-mobile@2x.jpg 2x"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="./images/blog/blog3-tablet.jpg"
              srcset="./images/blog/blog3-tablet.jpg 1x, ./images/blog/blog3-tablet@2x.jpg 2x"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/blog/blog3-desktop.jpg"
              srcset="./images/blog/blog3-desktop.jpg 1x, ./images/blog/blog3-desktop@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="./images/blog/blog3-mobile.jpg" alt="John Doe" />
          </picture>
        </li>
        <li class="blog__img-desktop">
          <picture>
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="./images/blog/blog2-mobile.jpg"
              srcset="./images/blog/blog2-mobile.jpg 1x, ./images/blog/blog2-mobile@2x.jpg 2x"
              type="image/jpeg"
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="./images/blog/blog2-tablet.jpg"
              srcset="./images/blog/blog2-tablet.jpg 1x, ./images/blog/blog2-tablet@2x.jpg 2x"
              type="image/jpeg"
            />
            <source
              media="(min-width: 1280px)"
              srcset="./images/blog/blog2-desktop.jpg"
              srcset="./images/blog/blog2-desktop.jpg 1x, ./images/blog/blog2-desktop@2x.jpg 2x"
              type="image/jpeg"
            />
            <img src="./images/blog/blog2-mobile.jpg" alt="John Doe" />
          </picture>
        </li>
      </ul>
    </div>
    <div class="blog__slider-btns">
      <svg class="blog__btn-left" width="61" height="61">
        <use href="./images/icons/sprite.svg#icon-arrow-left"></use>
      </svg>
      <svg class="blog__btn-right" width="61" height="61">
        <use href="./images/icons/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
    <p class="blog__description">Follow to our newsletter</p>
    <button class="blog__btn-sub" type="button" data-modal-open>Subscribe</button>
    <div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button type="button" class="modal__close-button" data-modal-close>&#x2715;</button>
        <div class="modal__img">
          <picture>
            <source
              srcset="./images/blog/modal-subscribe-desktop.jpg 1x"
              media="(min-width:1280px)"
            />
            <source
              srcset="./images/blog/modal-subscribe-tablet.jpg 1x"
              media="(min-width:768px)"
            />
            <source
              srcset="./images/blog/modal-subscribe-mobile.jpg 1x"
              media="(min-width:480px)"
            />
            <img src="./images/blog/modal-subscribe-desktop.jpg" alt="red flower" />
          </picture>
        </div>
        <div class="modal__text">
          <h3>Follow to our newsletter</h3>
          <p>
            Be the first to get exclusive offers and the latest news on our product directly in your
            box.
          </p>
          <form class="form-modal">
            <label class="form-modal__label">
              <span class="form-modal__label-text">Email</span>
              <div class="form-modal__input">
                <input
                  type="email"
                  class="form-modal__text"
                  name="email"
                  placeholder="Your email"
                />
              </div>
            </label>
            <button type="submit" class="modal__btn">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
