
<body>
<section class="container delivery" id="section-delivery">
  <div>
    <h2 class="delivery__header">
      DELIVERY
      <hr class="line" />
    </h2>
    <ul class="delivery__list">
      <li class="delivery__item">
        <div class="delivery__step">
          <span class="delivery__number">1</span>
        </div>
        <p class="delivery__description">Choose your bouquet and make an order on website</p>
      </li>
      <li class="delivery__item">
        <div class="delivery__step">
          <span class="delivery__number">2</span>
        </div>
        <p class="delivery__description">
          Wait for the call to clarify the details of the order. You can pay online or to the
          courier
        </p>
      </li>
      <li class="delivery__item">
        <div class="delivery__step">
          <span class="delivery__number">3</span>
        </div>
        <p class="delivery__description">
          Wait for the delivery at the selected time or pick up the order from the store
        </p>
      </li>
      <li class="delivery__item">
        <div class="delivery__step">
          <span class="delivery__number">4</span>
        </div>
        <p class="delivery__description">Make someone happy or enjoy yourself</p>
      </li>
    </ul>

    <picture class="delivery__image">
      <source
        srcset="./images/delivery/delivery-mobile@2x.jpg 640w"
        media="(max-width: 767px)"
        sizes="100vw"
      />
      <source
        srcset="
          ./images/delivery/delivery-tablet.jpg     768w,
          ./images/delivery/delivery-tablet@2x.jpg 1536w
        "
        media="(min-width: 768px) and (max-width: 1279px)"
        sizes="100vw"
      />
      <source
        srcset="
          ./images/delivery/delivery-desktop.jpg    1280w,
          ./images/delivery/delivery-desktop@2x.jpg 2560w
        "
        media="(min-width: 1280px)"
        sizes="100vw"
      />
      <img src="./images/delivery/delivery-mobile.jpg" alt="Flowers" />
    </picture>
  </section>
</body>
