<body>
    <section class="delivery">
        <h2 class="delivery__header">DELIVERY <hr class="line"/>
        </h2>
        <ul class="delivery__list">
            <li class="delivery__item">
                <div class="delivery__step">1
                </div>
                <div class="delivery__description">Choose your bouquet and make an order on website
                </div>
            </li>
            <li class="delivery__item">
                <div class="delivery__step">2
                </div>
                <div class="delivery__description">Wait for the call to clarify the details of the order. You can pay online or to the courier
                </div>
            </li>
            <li class="delivery__item">
                <div class="delivery__step">3
                </div>
                <div class="delivery__description">Wait for the delivery at the selected time or pick up the order from the store
                </div>
            </li>
            <li class="delivery__item">
                <dev class="delivery__step">4
                </dev>
                <div class="delivery__description">Make someone happy or enjoy yourself
                </div>
            </li>
        </ul>
        <img class="delivery__image" src="/src/images/delivery/image-delivery-mobile 2.jpg" alt="Flowers">
    </section>
</body>

