<footer class="footer__background">
  <div class="footer__box">
    <div class="logo__box">
      <a href="#" class="footer__logo">
        <svg width="73" height="57" class="footer__logo-icon">
          <use href="./images/icons/sprite.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <div>
      <p class="footer__nav-title">Navigation</p>
      <ul>
        <li class="footer__nav-item"><a href="#anemone" class="footer__nav-link">Anemone</a></li>
        <li class="footer__nav-item"><a href="#aboutus" class="footer__nav-link">About us</a></li>
        <li class="footer__nav-item"><a href="#store" class="footer__nav-link">Store</a></li>
        <li class="footer__nav-item">
          <a href="#delivery" class="footer__nav-link">Delivery</a>
        </li>
      </ul>
    </div>
    <div>
      <p class="footer__open-times-title">Opening times</p>
      <p class="footer__open-times">Every day 9:00 - 22:00</p>
    </div>
    <div class="footer__contact-box">
      <p class="footer__contact-title">Contacts</p>
      <ul>
        <li class="footer__contact-item">
          <a href="tel:+380631234567" class="footer__contact-link">+38 063 123 45 67</a>
        </li>
        <li class="footer__contact-item footer__email-mobile">
          <a href="mailto:anemonestudio@example.com" class="footer__contact-link"
            >anemonestudio@example.com</a
          >
        </li>
        <li class="footer__contact-item">
          <a
            href="https://goo.gl/maps/Yn52u5gAWTWrhE2m8"
            class="footer__contact-link contact__addres-box"
            target="_blank"
            rel="nofollow noreferrer noopener"
            >Reitarska Street, 11 Kyiv, Ukraine</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul class="footer__social-list">
        <li>
          <a href="#" class="footer__social-item">
            <svg width="28" height="28" class="footer__social-icon">
              <use href="./images/icons/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="footer__social-item">
            <svg width="28" height="28" class="footer__social-icon">
              <use href="./images/icons/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
