<header class="header">
  <a class="header__logo-link" href="#">
    <svg class="header__logo" width="45" height="35">
      <use href="./images/icons/sprite.svg#icon-logo"></use>
    </svg>
  </a>
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
      <svg class="menu-toggle__close-icon" width="24" height="24">
        <use href="./images/icons/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>

    <!-- <nav class="header__nav"> -->
    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-close-item-1" href="#section-anemone">Anemone</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-close-item-2" href="#section-about-us">About us</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-close-item-3" href="#section-store">Store</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-close-item-4" href="#section-delivery">Delivery</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link js-close-item-5" href="#section-blog">Blog</a>
      </li>
    </ul>
    <!-- </nav> -->
  </div>

  <a href="tel:+380631234567">
    <svg class="header__phone" width="22" height="22">
      <use href="./images/icons/sprite.svg#icon-phone"></use>
    </svg>
  </a>
  <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
    <svg class="header__burger" width="24" height="24">
      <use href="./images/icons/sprite.svg#icon-burger"></use>
    </svg>
  </button>
  <script defer src="/src/js/mobile-menu.js"></script>
  <script src="/src/js/mobile-menu-alt.js"></script>
</header>
<!---->
