<!--Header makiety - HERO BLOCK-->
<section class="container">
  <!-- <div class="container"> -->
  <div class="hero__content">
    <h1 class="hero__title">ANEMONĒ</h1>
    <p1 class="hero__subtitle"
      >flower <br />
      studio</p1
    >
    <picture>
      <source
        media="(min-width:1280px) and (min-device-pixel-ratio: 2)"
        srcset="./images/hero/hero_desktop@2x.jpg"
      />
      <source media="(min-width:1280px)" srcset="./images/hero/hero_desktop.jpg" />
      <source
        media="(min-width:768px) and (min-device-pixel-ratio: 2)"
        srcset="./images/hero/hero_underlay_768@2x.jpg"
      />
      <source media="(min-width:768px)" srcset="./images/hero/hero_underlay_768.jpg" />
      <source media="(min-device-pixel-ratio: 2)" srcset="./images/hero/hero_underlay_320.jpg" />
      <img
        class="hero__background"
        src="./images/hero/hero_underlay_320.jpg"
        alt="kwiat full screen"
      />
    </picture>
    <!--BUTTON BLOCK-->
    <button type="button" class="hero__button" data-modal-open>
      <svg class="hero-button--mobile">
        <use href="./images/icons/sprite.svg#icon-shop-now-mobile"></use>
      </svg>
    </button>
    <button type="button" class="hero__button--tablet" data-modal-open>
      <svg class="hero-button--tablet">
        <use href="./images/icons/sprite.svg#icon-shop-now-tablet"></use>
      </svg>
    </button>
    <button type="button" class="hero__button--tablet" data-modal-open>
      <svg class="hero-button--desktop">
        <use href="./images/icons/sprite.svg#icon-shop-now-desktop"></use>
      </svg>
    </button>
    <!--END BUTTON BLOCK-->
  </div>
  <!-- </div> -->
</section>
<!--END HERO BLOCK-->

<!--Modal window - MODAL BLOCK-->
<section class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__close-button" data-modal-close>
      <svg width="18" height="18">
        <use href="./images/icons/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>
    <h2 class="modal__title">Contact us</h2>
    <p1
      >If you have any additional questions or you want to clarify something before you make an
      order please fill in your contact details. We will call you back.</p1
    >
    <form class="modal__form">
      <div class="modal__form-item">
        <label class="modal__form-label">
          Name
          <input type="text" name="imie" class="modal__form-input" required />
        </label>
      </div>
      <div class="modal__form-item">
        <label class="modal__form-label">
          E-mail
          <input type="email" name="email" class="modal__form-input" required />
        </label>
      </div>
      <div>
        <button type="submit" class="modal__button">Send</button>
      </div>
    </form>
  </div>
</section>

<script defer src="./js/mobile-menu-alt.js"></script>
<script src="./js/modal.js"></script>
<!--END MODAL BLOCK-->
