<!--Header makiety - HERO BLOCK-->
<section>
  <!-- <div class="container"> -->
  <div class="hero__content">
    <h1 class="hero__title" id="section-anemone">ANEMONĒ</h1>
    <p1 class="hero__subtitle"
      >flower <br />
      studio</p1
    >
    <picture>
      <source
        media="(min-width:1280px) and (min-device-pixel-ratio: 2)"
        srcset="./images/hero/hero_desktop@2x.jpg"
      />
      <source media="(min-width:1280px)" srcset="./images/hero/hero_desktop.jpg" />
      <source
        media="(min-width:768px) and (min-device-pixel-ratio: 2)"
        srcset="./images/hero/hero_underlay_768@2x.jpg"
      />
      <source media="(min-device-pixel-ratio: 2)" srcset="./images/hero/hero_underlay_320.jpg" />
      <img
        class="hero__background"
        src="./images/hero/hero_underlay_768.jpg"
        alt="kwiat full screen"
      />
    </picture>
    <!--BUTTON BLOCK-->
    <button type="button" class="hero__button" data-modal-open1>
      <svg class="hero__button--mobile" width="15vw" height="auto">
        <use class="hero__icon--mobile" href="./images/icons/sprite.svg#icon-shop-now-mobile"></use>
      </svg>
    </button>
    <button type="button" class="hero__button" data-modal-open2>
      <svg class="hero__button--tablet" width="15vw" height="auto">
        <use class="hero__icon--tablet" href="./images/icons/sprite.svg#icon-shop-now-tablet"></use>
      </svg>
    </button>
    <button type="button" class="hero__button" data-modal-open3>
      <svg class="hero__button--desktop" width="15vw" height="auto">
        <use
          class="hero__icon--desktop"
          href="./images/icons/sprite.svg#icon-shop-now-desktop"
        ></use>
      </svg>
    </button>
    <!--END BUTTON BLOCK-->
  </div>
  <!-- </div> -->
</section>
<!--END HERO BLOCK-->
