<section class="store">

    <div class="container">

    <h2 class="store__header">STORE</h2>
    <hr class="line" />
    
      <ul class="store__list">

        <li class="store__item">
            <picture>
            <img class="store__img"
             src="./images/store/bouquet3_mobile.jpg" 
             srcset=
             "
             ./images/store/bouquet3_tablet.jpg,
             ./images/store/bouquet3@2x_desktop.jpg
             "
            alt="bouquet compliments from $15" 
            />
            </picture>

            <div class="store__product">
            <h3 class="store__product--name">compliments</h3>
            <p class="store__product--price">from $15</p>
            </div>
        </li>
        <li class="store__item">
            <picture>
            <img class="store__img"
             src="./images/store/bouquet1_mobile.jpg" 
             srcset=
             "
             ./images/store/bouquet1_tablet.jpg,
             ./images/store/bouquet1@2x_desktop.jpg
             "
            alt="bouquets size S from $25" 
            />
            </picture>

            <div class="store__product">
            <h3 class="store__product--name">bouquets size S</h3>
            <p class="store__product--price">from $25</p>
            </div>
        </li>
        <li class="store__item">
            <picture>
            <img class="store__img"
             src="./images/store/bouquet2_mobile.jpg" 
             srcset=
             "
             ./images/store/bouquet2_tablet.jpg,
             ./images/store/bouquet2@2x_desktop.jpg
             "
            alt="bouquets size M from $45" 
            />
            </picture>

            <div class="store__product">
            <h3 class="store__product--name">bouquets size M</h3>
            <p class="store__product--price">from $45</p>
            </div>
        </li>
        <li class="store__item">
            <picture>
            <img class="store__img"
             src="./images/store/bouquet4_mobile.jpg" 
             srcset=
             "
             ./images/store/bouquet4_tablet.jpg,
             ./images/store/bouquet4@2x_desktop.jpg
             "
            alt="bouquets size L from $60" 
            />
            </picture>

            <div class="store__product">
            <h3 class="store__product--name">bouquets size L</h3>
            <p class="store__product--price">from $60</p>
            </div>
        </li>
     </ul>  
    </div>
</section>
