<body>
    <section class="store">
    <h2 class="store__header">STORE</h2>
    <div class="container"></div>
      <ul class="store__list">
        <li class="store__item">
            <img src="/src/images/about-images/bouquet3_mobile.jpg" 
            alt="bouquet compliments from $15" />
            <h3>compliments</h3>
            <svg>
                <use>
                    href="icons/sprite.svg#">
                </use>
            </svg>
            <p class="store__item--price">from $15</p>
        </li>
        <li class="store__item">
            <img src="/src/images/about-images/bouquet1_mobile.jpg" 
            alt="bouquets size S from $25" />
            <h3>bouquets size S</h3>
            <svg>
                <use>
                    href="icons/sprite.svg#">
                </use>
            </svg>
            <p class="store__item--price">from $25</p>
        </li>
        <li class="store__item">
            <img src="/src/images/about-images/bouquet2_mobile.jpg" 
            alt="bouquets size M from $45" />
            <h3>bouquets size M</h3>
            <svg>
                <use>
                    href="icons/sprite.svg#">
                </use>
            </svg>
            <p class="store__item--price">from $45</p>
        </li>
        <li class="store__item">
            <img src="/src/images/about-images/bouquet4_mobile.jpg" 
            alt="bouquets size L from $60" />
            <h3>bouquets size L</h3>
            <svg>
                <use>
                    href="icons/sprite.svg#">
                </use>
            </svg>
            <p class="store__item--price">from $60</p>
        </li>
        <button class="store__button" type="submit">
            Order flowers
        </button>
    </div>
    </section>
  </body>