:root {
  --main-color: #212121;
  --support-color: #757575;
  --higlight-color: #2196f3;
  --black-color: #000000;
  --white-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --background-color: #2f303a;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --team-color: #f5f4fa;
  --header-line: #ececec;
  --projects-color: #eeeeee;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --customers-icon: #afb1b8;
  --social-icons-background: rgba(255, 255, 255, 0.1);
  --works-background: rgba(47, 48, 58, 0.8);
  --project-overlay-color: rgba(33, 150, 243, 0.9);
  --modal-background: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serfif;
  color: var(--main-color);
}

/* Nagłówek makiety */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-line {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--header-line);
  padding: 24.54px 0 23.53px;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-box-menu {
  display: flex;
  align-items: center;
}

.header-logo,
.logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.logo-web {
  color: var(--higlight-color);
}

.contact {
  display: flex;
  gap: 30px;
  fill: currentColor;
}

.header-address,
.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--support-color);

  display: flex;
  align-items: center;
  gap: 10px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address:hover,
.header-phone:hover,
.header-address:focus,
.header-phone:focus {
  color: var(--higlight-color);
}

/* Menu makiety */

.nav-list {
  list-style: none;
  display: flex;
  margin-left: 93px;
  gap: 46px;
}

.nav-list-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: var(--main-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item-link:hover,
.nav-list-item-link:focus {
  color: var(--higlight-color);
}

.is-active {
  position: relative;
  color: var(--higlight-color);
}

.is-active::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--higlight-color);
  border-radius: 2px;
  top: 43.5px;
}

/* Header makiety */

.section {
  padding: 94px 0;
  margin: 0 auto;
}

.hero {
  background-color: var(--background-color);
  padding: 200px 0;

  max-width: 1600px;
  background-image: linear-gradient(
      to bottom,
      var(--hero-gradient),
      var(--hero-gradient)
    ),
    url("../images/background.jpg");
}

.hero-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);

  max-width: 696px;
  margin: 0 auto;
}

.hero-button {
  background-color: var(--higlight-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;

  border-style: none;
  padding: 10px 41px;
  margin: 0 auto;

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* Modal window */

.backdrop {
  background: var(--modal-background);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: flex-end;
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;

  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.25);
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;

  transition-delay: 500ms;
}

/* Nasze atuty, Czym się zajmujemy i Nasz zespół  */

.list {
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  gap: 30px;
}

/* Nasze atuty */

.trumps {
  padding-bottom: 0;
}

.trumps-icon-box {
  padding: 25px 100px;
  background-color: var(--team-color);
  border-radius: 4px;
}

.trumps-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);

  margin-top: 30px;
  margin-bottom: 10px;
}

.trumps-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--support-color);
}

/* Czym się zajmujemy, nagłówek z Nasz zespół i nagłówek Nasi klienci */

.works-title,
.team-title,
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);

  margin-bottom: 50px;
}
.works-item {
  position: relative;
}
.works-item > img {
  display: block;
}
.works-descrip {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--works-background);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 27px;
}

/* Nasz zespół */

.team {
  background: var(--team-color);
}

.team-card {
  background: var(--white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card > img {
  border-radius: 0px;
}

.team-card-descrip {
  padding: 30px 0;
}

.team-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);

  margin-bottom: 10px;
}

.team-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--support-color);

  margin-bottom: 16px;
}

.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-link {
  display: block;
  border-radius: 50%;
  padding: 12px;
  height: 44px;
}

.team-social-link {
  fill: var(--customers-icon);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--higlight-color);
}

.team-social-link:hover,
.team-social-link:focus {
  fill: var(--white-color);
}

/* Nasi klienci */

.customers-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.customers-box {
  display: block;
  border: 1px solid var(--customers-icon);
  border-radius: 4px;
  padding: 16px 32px;
  fill: var(--customers-icon);

  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-box:hover {
  fill: var(--higlight-color);
  border-color: var(--higlight-color);
}

/* Portfolio filters */

.filter {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--team-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;

  padding: 6px 22px;
  margin-right: 8px;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--higlight-color);
  color: var(--white-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Portfolio projects */

.projects {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  column-gap: 20px;
}

.project-card {
  background-color: var(--white-color);
  border: 1px solid var(--projects-color);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay > img {
  display: block;
}

.project-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--project-overlay-color);

  display: flex;
  align-items: center;

  transition-property: transform;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-overlay-text {
  font-style: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);

  padding: 0 24px;
}

.project-card:hover .project-card-overlay {
  transform: translateY(0);
}

.project-card:hover,
.project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.project-card-title {
  font-style: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);

  margin: 20px 24px 4px;
}

.project-card-text {
  font-style: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--support-color);

  margin: 0 24px 20px;
}

/* Footer */

.footer-color {
  background-color: var(--background-color);
}

.nav-footer {
  display: flex;
  gap: 70px;
  padding: 60px 15px;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--white-color);

  padding-top: 60px;
}

.footer-address {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);

  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 9px;
}

.footer-address-link,
.footer-phone-link,
.footer-address-link-u {
  color: var(--footer-link-color);
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address-link-u {
  text-decoration: none;
}

.footer-address-link:hover,
.footer-phone-link:hover,
.footer-address-link:focus,
.footer-phone-link:focus,
.footer-address-link-u:hover,
.footer-address-link-u:focus {
  color: var(--higlight-color);
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 12px;
  margin-bottom: 20px;
}

.footer-social-link {
  background-color: var(--social-icons-background);
  fill: var(--white-color);

  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
