.about {
  display: block;
  flex-direction: row;
}
.about__header {
  font-family: 'Montserrat' sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  width: 91px;
  height: 29px;
  left: 0px;
  top: 0px;
}

.about__text {
  width: 288px;
  height: 140px;
  left: 0px;
  top: 61px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;

  color: #000000;
}
