.blog {
  display: flex;
  flex-direction: column;
}
.blog__header {
  content: '';
  display: table;
  width: 100%;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  padding: 0 0 32px 0;
}
.line {
  display: table-cell;
  width: 100%;
  padding-left: 14px;
  border: none;
}
.line:after {
  content: '';
  border-top: 1px solid $black;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.blog__box {
  margin: 0 auto;
  gap: 14px;
  margin-bottom: 4px;
}
.blog__slider-btns {
  display: flex;
  margin: 0 auto;
  gap: 30px;
  margin-bottom: 14px;
}
.blog__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
  margin-bottom: 24px;
}

.button-blog {
  background-color: #fff;
  border: none;
}
.blog__btn-left {
  cursor: pointer;
  transition: $transition;
  &:hover,
  &:focus {
    stroke: $hover;
  }
}
.blog__btn-right {
  cursor: pointer;
  transition: $transition;
  &:hover,
  &:focus {
    stroke: $hover;
  }
}
@media screen and (max-width: 1279px) {
  .blog__picture--extra {
    display: none;
  }
}
.blog__picture {
  display: block;
}
.blog__btn-sub {
  margin: auto;
  padding: 8px 39.5px;
  background-color: $button;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  border: 0;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transition: $transition;
  border-radius: 34px;
  width: 170px;
  height: 40px;
  &:hover,
  &:focus {
    scale: 1.2;
    background-color: $hover;
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 768px) {
  .blog {
    min-width: 768px;
  }
  .blog__header {
    font-size: 44px;
    margin-bottom: 60px;
  }
  .blog__box {
    margin: 0 auto;
    gap: 23px;
    margin-bottom: 8px;
  }

  .blog__slider-btns {
    margin-bottom: 18px;
  }

  .blog__description {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.21;
    margin-bottom: 32px;
  }
  .blog__btn-sub {
    width: 280px;
    height: 64px;
    font-size: 28px;
    font-weight: 500;
    transition: $transition;
    &:hover,
    &:focus {
      background-color: $hover;
    }
  }
}
@media screen and (min-width: 1280px) {
  .blog {
    margin: 0 auto;
    max-width: 1280px;
  }
  .blog__box {
    margin: 0 auto;
    gap: 24px;
    margin-bottom: 18px;
  }
  .blog__list {
    max-width: 1280px;
    display: flex;
    gap: 31px;
  }
  .blog__slider-btns {
    margin-bottom: 24px;
  }
  .blog__description {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.21;
    margin-bottom: 32px;
  }
  .blog__btn-sub {
    width: 280px;
    height: 64px;
    font-size: 28px;
    font-weight: 500;
  }
}

//

//Old values

// .backdrop {
//   background: $black;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 999;
// }
//

// .is-hidden {
//   opacity: 0;
//   visibility: hidden;
//   pointer-events: none;
// }
