.delivery {
    width: 320px;
    height: 457px;
    display: flex;
    flex-direction: column;
    // flex-wrap: nowrap;
}
.line {
    display: table-cell;
    width: 100%;
    padding-left: 14px;
    border: none;
}

.line:after {
    content: '';
    border-top: 1px solid #000000;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.delivery__header {
    font-weight: 700;
    font-size: 24px; 
    line-height:  1.2;
}

.delivery-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    // flex-wrap: nowrap;
}

.delivery__item {
    display: flex;
    flex-direction: row;
    // flex-wrap: nowrap;
}

.delivery__step {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;

    height: 40px;
    width: 40px;
    border: solid;
    border-color: $black;
    border-radius: 50%;
    margin-right: 8px;
}