* {
  margin: 0;
  padding: 0;
}
.footer__background {
  background-color: $black;
}
.footer__box {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-left: 14px;
  padding-left: 16px;
}
@media screen and (max-width: 1279px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo {
  fill: $white;
}
.footer__nav-tittle {
  margin-right: 44px;
  margin-top: 32px;
  width: 116px;
  height: 22px;

  font-size: $medium;
  font-weight: 700;
  color: $white;
  line-height: 1.21;
}
.footer__nav-item {
  margin-top: 12px;
}
.footer__nav-link {
  font-size: $small;
  font-weight: 500;
  color: $white;
  line-height: 1.2;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $hover;
  }
}
.footer__open-times-title {
  width: 130px;
  margin-top: 32px;
  margin-bottom: 18px;
  font-size: $medium;
  font-weight: 700;
  color: $white;
  line-height: 1.21;
}
.footer__open-times-time {
  width: 85px;
  font-size: $small;
  font-weight: 500;
  color: $white;
  line-height: 1.2;
  text-decoration: none;
  cursor: default;
  &:hover,
  &:focus {
    color: $hover;
  }
}
.footer__contact-title {
  width: 81px;
  margin-top: 32px;
  margin-right: 87.17px;
  font-size: $medium;
  font-weight: 700;
  color: $white;
  line-height: 1.21;
}
.footer__contact-item {
  font-size: $small;
  font-weight: 500;
  color: $white;
  line-height: 1.2;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $hover;
  }
}
.footer__contact-long {
  width: 128px;
  margin-bottom: 12px;
}
.footer__contact-small {
  width: 111px;
  margin-bottom: 12px;
}
.footer__social-list {
  display: flex;
  gap: 14px;
}
.footer__social-item {
  fill: $white;
  &:hover,
  &:focus {
    fill: $hover;
  }
}
