.footer__background {
  background-color: $black;
  width: 100%;
}
.footer__box {
  padding: 0px 14px 0px 16px;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  height: 389px;
}

@media screen and (max-width: 1279px) {
  .footer__logo {
    display: none;
  }
}
.footer__logo {
  fill: $white;
  &:hover,
  &:focus {
    fill: $hover;
  }
}
.footer__logo-icon {
  transition: $transition;
  &:hover,
  &:focus {
    width: 80px;
    height: 64px;
    margin: -3.5px -3.5px -3.5px -3.5px;
  }
}
.footer__nav-title {
  margin-right: 44px;
  width: 116px;
  height: 22px;
  font-size: $medium;
  font-weight: 700;
  color: $white;
  line-height: 1.21;
}
.footer__nav-item {
  margin-top: 12px;
  width: 64px;
  height: 17px;
}
.footer__nav-link {
  font-size: $small;
  font-weight: 500;
  color: $white;
  line-height: 1.2;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $hover;
  }
}
.footer__open-times-title {
  width: 130px;
  margin-bottom: 18px;
  font-size: $medium;
  font-weight: 700;
  color: $white;
  line-height: 1.21;
}
.footer__open-times {
  width: 85px;
  font-size: $small;
  font-weight: 500;
  color: $white;
  line-height: 1.2;
  text-decoration: none;
  cursor: default;
  transition: $transition;
  &:hover,
  &:focus {
    color: $hover;
  }
}
.footer__contact-title {
  margin: 32px 0px 18px 0px;
  font-size: $medium;
  font-weight: 700;
  color: $white;
  line-height: 1.21;
}
.footer__contact-item {
  margin-top: 12px;
  width: 128px;
  height: 17px;
}
.footer__contact-link {
  font-size: $small;
  font-weight: 500;
  color: $white;
  line-height: 1.2;
  width: 128px;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $hover;
  }
}
.contact__addres-box {
  width: 128px;
  height: 34px;
}
.footer__social-list {
  display: flex;
  gap: 14px;
}
.footer__social-icon {
  transition: $transition;
  &:hover,
  &:focus {
    fill: $hover;
  }
}
.footer__email-mobile {
  height: 34px;
  width: 111px;
  overflow-wrap: break-word;
}
.footer__contact-box {
  margin-right: 32px;
}
@media screen and (min-width: 320px) {
  .footer__box {
    padding-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .footer__box {
    max-width: 768px;
    margin: 0 auto;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    height: 268px;
  }
  .footer__nav-title {
    margin: 60px 44px 18px 24px;
    font-size: 20px;
    line-height: 1.2;
  }
  .footer__nav-link {
    font-size: 16px;
    margin-left: 24px;
    margin-bottom: 12px;
  }
  .footer__nav-item {
    width: 146px;
  }
  .footer__open-times-title {
    width: 143px;
    margin: 60px 44px 18px 0px;
    font-size: 20px;
    line-height: 1.2;
  }
  .footer__open-times {
    width: 97px;
    font-size: 16px;
  }
  .footer__contact-title {
    margin: 60px 210px 18px 0px;
    font-size: 20px;
  }
  .footer__contact-item {
    font-size: 16px;
    width: 147px;
    &:hover,
    &:focus {
      width: 151px;
    }
  }
  .footer__contact-link {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .footer__social-list {
    flex-direction: column;
    gap: 18px;
    margin-top: 60px;
    margin-right: 41px;
  }
  .footer__social-icon {
    transition: $transition;
    stroke: $white;
    &:hover,
    &:focus {
      fill: $hover;
      width: 33px;
      height: 33px;
      margin: -2.5px -2.5px -2.5px -2.5px;
    }
  }
  .footer__email-mobile {
    height: auto;
    width: auto;
    overflow-wrap: normal;
  }
  .footer__contact-box {
    margin-right: 0px;
  }
}
@include desktop {
  .footer__background {
    width: 100%;
    height: 298px;
  }
  .footer__box {
    max-width: 1280px;
    width: 298px;
    margin: 0 auto;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    height: 298px;
  }
  .logo__box {
    margin: 72px 210px 169px 24px;
  }
  .footer__nav-title {
    margin: 72px 96px 18px 0px;
    font-size: 20px;
    line-height: 1.2;
  }
  .footer__nav-link {
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 16px;
  }
  .footer__open-times-title {
    width: 143px;
    margin: 72px 96px 18px 0px;
    font-size: 20px;
    line-height: 1.2;
  }
  .footer__open-times {
    width: 97px;
    font-size: 16px;
  }
  .footer__contact-title {
    margin: 72px 355px 18px 0px;
    font-size: 20px;
  }
  .footer__contact-item {
    font-size: 16px;
  }
  .footer__contact-long {
    width: 147px;
  }
  .footer__contact-small {
    width: auto;
  }
  .footer__social-list {
    flex-direction: column;
    gap: 18px;
    margin: 72px 48px 152px 0px;
  }
}
