.header {
  position: relative;
  display: flex;
  flex-direction: row;

  margin: 0 auto;
  padding: 16px 0;

  @include tablet-up {
    margin: 0 auto 100px auto;
    padding: 40px 0;
    max-width: 1280px;
  }
}

.header__logo {
  position: absolute;
  left: 16px;
  top: 16px;
  display: block;
  fill: black;
  @include tablet-up {
    width: 72px;
    height: 57px;
    left: 24px;
    top: 24px;
  }
  @include desktop {
    top: 28px;
  }
}

.header__phone-link {
  position: absolute;
  right: 54px;
  top: 18px;
  @include tablet-up {
    top: 40px;
    right: 24px;
  }
}

.header__phone {
  display: block;
  fill: black;
  @include tablet-up {
    width: 24px;
    height: 24px;
  }
  @include desktop {
    width: 28px;
    height: 28px;
  }
}

.header__burger {
  position: absolute;
  right: 16px;
  top: 16px;
  display: block;
  fill: black;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @include tablet-up {
    display: none;
  }
}

.menu-toggle__close-icon path {
  stroke: $white;
  fill: $white;
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 124px 40px;
  background-color: $button;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  @include tablet-up {
    position: relative;
    display: block;
    transform: none;
    background: transparent;
    width: 100%;
    height: auto;
    padding: 0;
    flex-direction: row;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $white;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  @include tablet-up {
    display: flex;
    flex-direction: row;
    padding-left: calc(35% - 96px);
  }
}

.mobile-menu__item {
  @include tablet-up {
    padding: 0;
    margin: 0;
    margin-right: calc(4.6875% - 12px);
  }
}

.mobile-menu__link {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 0px;
  margin: 0 auto 32px auto;
  color: $white;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  font-family: 'Montserrat';

  @include tablet-up {
    margin: 0;
    color: $black;
  }
}

.mobile-menu__link--is-active {
  color: $white;
  margin-bottom: 36px;
}
