// Okno modalne

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  visibility: visible;
  opacity: 1;
  transition-property: opacity, visibility, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  z-index: 100;
  transition-delay: 500ms;
}
.modal {
  width: 272px;
  min-height: 357px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  padding: 28px 16px;
}
.modal-contact {
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 0px 1px 3px rgba(215, 215, 215, 1), 0px 1px 1px rgba(215, 215, 215, 1),
    0px 2px 1px rgba(215, 215, 215, 1);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}
.backdrop .is-hidden {
  transform: translate(-50%, -50%) scale(0.25);
}

.modal__close-button {
  stroke: $black;
  background-color: #0000;
  border: 0;
  padding: 0;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  justify-content: flex-end;
  width: 18px;
  height: 18px;
  background-color: $white;
  text-transform: none;
  cursor: pointer;

  @include tablet-up {
    width: 24px;
    height: 24px;
  }
}
.modal__icon {
  height: 24px;
}

.modal__title {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 20px;
  color: $black;
  line-height: 1.2;
  text-decoration-style: bold;
  text-align: left;

}
.modal__txtinfo {
  width: 240px;
  color: rgb(92, 92, 92);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;

}
.modal__form {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
.modal__txt {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;
  color: $support;
}
.modal__form-label {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
}
.modal__form-input {
  width: 100%;
  height: 35px;
  color: $black;
  border: 1px solid $input;
  border-radius: 4px;
  outline: none;
  margin-bottom: 14px;
  padding-left: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
}
.modal__form-input:hover,
.modal__form-input:focus {
  border-color: $input;
  outline: none;
}
.modal__form-label:hover,
.modal__form-label:focus-within {
  fill: $sendButton;
}
.modal::placeholder {
  color: currentColor;
}

.modal__button {
  padding: 10px 102px 10px 101px;
  display: block;
  background: $button;
  color:$white;
  border-radius: 8px;
  font-weight: 500;
  line-height: 24px;
  border: 0;
  outline: none;
  margin-top: 18px;
}
.modal__button:hover {
  background-color: $button-invalid;
  color: $white;
}

@include tablet-only {
  
  .modal-contact {
    width: 480px;
    max-height: 511px;
    padding: 48px 32px;
  }
  .modal_title {

    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  .modal__txtinfo {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
  }
  .modal__form {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
  }
  .modal__txt {
    font-size: 14px;
    line-height: 1.2;
  }
  .modal__form-input {
    margin-bottom: 32px;
    width: 100%;
    height: 49px;
    font-size: 14px;
    line-height: 1.2;
  }
  
  .modal__button {
    padding: 14px 184px;
    margin-top: 14px;
  }
}

// MODAL W TABLECIE I DESKTOPIE JEST TAKI SAM

@include desktop {
  .modal-contact {
    width: 480px;
    max-height: 511px;
    padding: 48px 32px;
  }
  .modal_title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  .modal__txtinfo {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
  }
  .modal__form {
    display: flex;
    flex-direction: column;
    margin-top: 18px;
  }
  .modal__txt {
    font-size: 14px;
    line-height: 1.2;
  }
  .modal__form-input {
    margin-bottom: 32px;
    width: 100%;
    height: 49px;
    font-size: 14px;
    line-height: 1.2;
  }
  .modal__button {
    margin-top: 14px;
  }
}



// MODAL THANK YOU

.modal-thx {
  width: 272px;
  min-height: 357px;
  background-color: $white;
}

.modal-thx__img {
  display: block;
  margin-top: 44px;
}

.modal-thx__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-thx__title {
  margin-top: 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: $black;
}

.modal-thx__txtinfo {
  margin-top: 14px;
  width: 240px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #5c5c5c;
  text-align: center;
}

@include tablet-only {
  .modal-thx {
    width: 480px;
    min-height: 505px;
  }

  .modal-thx__img {

    width: 266px;
    height: 202px;
  }

  .modal-thx__title {
    font-size: 32px;
  }

  .modal-thx__thxinfo {
    margin-top: 16px;
    width: 416px;
    font-size: 16px;
    line-height: 1.25;
  }
}

// Blog Modal

.modal-blog {
  background-color: $white;
  color:$black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;

  @include mobile-up {
    display: block;
    width: 272px;
    height: 380px;
  }
  @include tablet-up {
    display: block;
    width: 588px;
    height: 644px;
  }
  @include desktop {
    display: flex;
    width: 860px;
    height: 528px;
  }
}
.modal-blog__close-button {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  background-color:$white;
}
.modal-blog__icon {
  stroke: $black;
  height: 24px;
}
.modal-blog__img {
  display: flex;
  background-color: $white;
  justify-content: center;
}
.modal-blog__text {
  align-items: center;
  display: flex;
  justify-content: center;

  @include mobile-up {
    flex-direction: column;
  }
  @include desktop {
    margin-bottom: 70px;
    align-items: center;
  }
}
.modal-blog__form {
  text-align: center;
  align-items: center;

  @include mobile-up {
    width: 236px;
    height: 37px;
  }
  @include tablet-up {
    width: 336px;
    height: 50px;
  }
}
.modal-blog__label {
  display: inline-flex;
  flex-direction: column;
}
.modal-blog__text {
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  color: #5c5c5c;
  border: 0;
  margin-right: 290px;

  @include mobile-up {
    font-size: 12px;
  }
  @include tablet-up {
    font-size: 16px;
  }
  &:focus-within {
    outline: none;
  }
}
.modal-blog__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  @include mobile-up {
    font-size: 12px;
    width: 236px;
    height: 37px;
    margin-bottom: 10px;
  }
  @include tablet-up {
    width: 336px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 16px;
  }
}
.modal-blog__btn {
  width: 236px;
  height: 37px;
  background-color: $button;
  border-radius: 8px;
  @include tablet-up {
    width: 336px;
    height: 50px;
  }
}
/*
// DESKTOP RESPONSIVE

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }

  .modal__title {
      line-height: 1.15;
  }

  .modal__form-regulations {
      font-size: 14px;
      line-height: 1.71;
  }

  .modal__form-regulations-text {
      padding-left: 39px;
  }

  .modal__form-regulations input[type='checkbox'] {
      left: 15px;
  }

  .modal__form-checkbox-svg {
      left: 15px;
  }
  


// TABLET & DESKTOP RESPONSIVE

@media screen and (min-width: 473px) {
  .modal__form-checkbox-svg {
    top: 50%;
  }
  .modal__form-regulations input[type='checkbox'] {
    top: 50%;
  }
}
}
*/
