.store {
  display: flex;
}
.store__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 32px;
}
.line {
  display: table-cell;
  width: 100%;
  padding-left: 14px;
  border: none;
}
.line:after {
  content: '';
  border-top: 1px solid $black;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}
.store__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.store__item {
  gap: 16px;
}
.store__product {
  text-align: left;
  line-height: 1.25;
  margin-bottom: 32px;
}
.store__product--name {
  font-weight: 500;
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 6px;
}
.store__item--price {
  opacity: 0.6;
  font-weight: 600;
  font-size: 12px;
}
